* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  display: inline-block;
  float: left;
  height:100vh;
  width: 50%;
}

.section-left {
  background-color: #455A64;
  padding: 1% 5%;
}

h1 {
  color: #FFFFFF;
  font-size: 60px;
  margin-top: 30%;
  text-align: center;
  word-spacing: 20px;
}

img {
  max-width: 85px;
}

input {
  border: 2px solid #CED2D2;
  display: block;
  font-size: 36px;
  font-weight: 300;
  height: 32px;
  margin-top: 55px;
  padding: 4%;
  width: 100%;
}

input:placeholder {
  color: #C0C2C4;
}

#enter {
  background-color: #FFC107;
  border: 1px solid #FFC107;
  color: #FFFFFF;
  font-size: 26px;
  height: 45px;
  margin: 45px 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

enter:disabled {
  background-color: #CFD8DC;
  border: 1px solid #CFD8DC;
}

.section-right {
  background-color: #CFD8DC;
  border-style: solid;
  border-width: 1px;
  /*align-items: center;*/
  /*margin: auto;*/
}

.card {
  margin-top: 25px;
  border-color: #607D8B;
  border-style: solid;
  border-width: 2px;
  display: block;
  text-align: left;
  background-color: #FFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 205px;

  /*align-items: center;*/
}
.card h2 {
  color: #455A64;
  font-size: 32px;
}
.card a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #607D8B;
  text-decoration-color: #F2F4F4;
}
.card hr {
  color: #CFD8DC;
}
.card button {
  color: #455A64;
  border: none;
  background-color: transparent;
  padding: 0px;
  outline: transparent;

  /*text-decoration: none;*/
}
.card a:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}
.card button:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}
.deleteButton {
  /*position: absolute;
  right: 0;*/
  /*text-align: right;
  align-items: right;*/
}
