* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  display: inline-block;
  float: left;
  height:100vh;
  width: 50%;
}

.input-section {
  background-color: #455A64;
  padding: 1% 5%;
}

h1 {
  color: #FFFFFF;
  font-size: 60px;
  margin-top: 30%;
  text-align: center;
  word-spacing: 20px;
}

img {
  max-width: 85px;
}

input {
  border: 2px solid #CED2D2;
  display: block;
  font-size: 36px;
  font-weight: 300;
  height: 32px;
  margin-top: 55px;
  padding: 4%;
  width: 100%;
}

input:placeholder {
  color: #C0C2C4;
}

#enter, #clear-read{
  background-color: #FFC107;
  border: 1px solid #FFC107;
  color: #FFFFFF;
  font-size: 26px;
  height: 45px;
  margin: 45px 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

#enter:disabled {
  background-color: #CFD8DC;
  border: 1px solid #CFD8DC;
  font-style: italic;
}

.card-section {
  background-color: #CFD8DC;
  border-style: solid;
  border-width: 1px;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  /*align-items: center;*/
  /*margin: auto;*/
}

.card {
  margin-top: 26px;
  margin-bottom: 37px;
  border-color: #607D8B;
  border-style: solid;
  border-width: 2px;
  display: block;
  text-align: left;
  background-color: #FFF;
  width: 90%;
  /*width: 250px;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 205px;
  position: relative;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /*align-items: center;*/
}
.card h2 {
  color: #455A64;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card a {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 26px;
  color: #607D8B;
  text-decoration-color: #F2F4F4;
  font-size: 25px;
}
.card hr {
  color: #CFD8DC;
}
.card button {
  color: #455A64;
  border: none;
  background-color: transparent;
  padding: 0px;
  padding-top: 9px;
  outline: transparent;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 19px;
  font-family: 'Open Sans', 'sans-serif';

  /*text-decoration: none;*/
}
.card a:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}
.card button:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}
.deleteButton {
  position: absolute;
  right: 20px;
}
.card.read{
  background-color: #F2F4F4;
}
.card.read a {
  text-decoration-color: #CFD8DC;
}
.card.read button {
  text-decoration-color: #CFD8DC;
}
.card.read button.readButton {
  color: #F05A28;
  font-weight: 800;
}
.card.read button:hover{
  text-decoration-color: #FFC107;
  color: #455A64;
}
.card.read a:hover{
  text-decoration-color: #FFC107;
}
