* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  display: inline-block;
  float: left;
  height:100vh;
  width: 50%;
}

.section-left {
  background-color: #455A64;

}
.card.read{
  background-color: #F2F4F4;

}
.card.read a {
  text-decoration-color: #CFD8DC;
}
.card.read button.readButton {
  color: #F05A28;
  font-weight: 800;
}
.section-right {
  background-color: #CFD8DC;
  border-style: solid;
  border-width: 1px;
  /*align-items: center;*/
  /*margin: auto;*/
}

.card {
  margin-top: 26px;
  margin-bottom: 37px;
  border-color: #607D8B;
  border-style: solid;
  border-width: 2px;
  display: block;
  text-align: left;
  background-color: #FFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 205px;
  position: relative;

  /*align-items: center;*/
}
.card h2 {
  color: #455A64;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card a {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 26px;
  color: #607D8B;
  text-decoration-color: #F2F4F4;
  font-size: 25px;
}
.card hr {
  color: #CFD8DC;
}
.card button {
  color: #455A64;
  border: none;
  background-color: transparent;
  padding: 0px;
  padding-top: 9px;
  outline: transparent;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 19px;
  font-family: 'Open Sans', 'sans-serif';

  /*text-decoration: none;*/
}
.card a:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}
.card button:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}
.deleteButton {
  position: absolute;
  right: 20px;
}
