* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  display: inline-block;
  float: left;
  height:100vh;
  width: 50%;
}

p {
  color: #FFF;
  margin-top: 10%;
  text-align: center;
}

.input-section {
  background-color: #455A64;
  padding: 1% 5%;
}

h1 {
  color: #FFFFFF;
  font-size: 86px;
  margin-top: 20%;
  text-align: center;
  word-spacing: 20px;
}

img {
  max-width: 85px;
}

input {
  border: 2px solid #CED2D2;
  display: block;
  font-size: 28px;
  font-weight: 300;
  height: 32px;
  line-height: 1.20;
  margin-top: 10%;
  padding: 20px 10px;
  width: 100%;
}

input::placeholder {
  color: #C0C2C4;
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 1.2px;
}

.input-btn {
  background-color: #FFC107;
  border: 1px solid #FFC107;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 800;
  height: 45px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

#enter-btn:disabled,
#clear-read-btn:disabled {
  background-color: #CFD8DC;
  border: 1px solid #CFD8DC;
  font-style: italic;
}

.card-section {
  background-color: #CFD8DC;
  border-color: #455A64;
  border-style: solid;
  border-width: 1px;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}

.card {
  margin-top: 26px;
  margin-bottom: 37px;
  background-color: #FFF;
  border-color: #607D8B;
  border-style: solid;
  border-width: 2px;
  display: block;
  height: 205px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.card h2 {
  color: #455A64;
  font-size: 35px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card a {
  color: #607D8B;
  display: inline-block;
  font-size: 25px;
  padding-bottom: 26px;
  padding-top: 25px;
  text-decoration-color: #F2F4F4;
}

.card hr {
  color: #CFD8DC;
}

.card button {
  background-color: transparent;
  border: none;
  color: #455A64;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 19px;
  outline: transparent;
  padding: 0px;
  padding-top: 9px;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

p,
#clear-read-btn {
  display: none;
}

.card a:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.card button:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.deletebtn {
  position: absolute;
  right: 20px;
}

.card.read{
  background-color: #F2F4F4;
}

.card.read a {
  text-decoration-color: #CFD8DC;
}

.card.read button {
  text-decoration-color: #CFD8DC;
}

.card.read button.readbtn {
  color: #F05A28;
  font-weight: 800;
}

.card.read button:hover{
  color: #455A64;
  text-decoration-color: #FFC107;
}

.card.read a:hover{
  text-decoration-color: #FFC107;
}


/*////// MEDIA QUERIES SECTION //////*/

@media screen and (max-width: 1380px) {

  h1 {
    font-size: 64px;
}

@media screen and (max-width: 1075px) {

  h1 {
    font-size: 44px;
  }

  img {
    max-width: 65px;
  }
}

@media screen and (max-width: 870) {

  h1 {
    font-size: 35px;
    text-align: center;
  }

  img {
    max-width: 55px;
  }

  input {
    border: 1px solid #CED2D2;
    margin: 5% auto;
    font-size: 25px;
  }

  #enter-btn,
  #clear-read-btn {
    font-size: 20px;
  }

  article {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 30px;
    margin-top: 10%;
  }

  img {
    max-width: 40px;
  }

  .card {
    height: 180px;
  }

  .card h2 {
    font-size: 28px
  }

  .card a {
    font-size: 22px;
  }
}

@media screen and (max-width: 620px) {

  .input-section {
    float: none;
    height: 390px;
    padding: 5%;
    width: 100%;
  }

  h1 {
    font-size: 30px;
    margin-top: 10px;
  }

  input {
    line-height: 1;
    margin-top: 4%;
  }

  img {
    max-width: 40px;
  }

  p {
    margin-top: 4%;
  }

  .card-section {
    border: none;
    width: 100%;
  }

  .card h2 {
    font-size: 24px;
  }

  .card a {
    font-size: 20px;
  }
}
